RM-100: Header is translated to different languages (ro, ru, en)
RM-101: When user hovers About, State & Education sub-menu appears
RM-200: Main page has 3 main sections: Info, News and Attractions
RM-201: Info contains Government, tourism, currencies and weather subsections
RM-202: Government contains links "President", "Parliament", "Government"
RM-203: Tourism contains...
RM-204: Currencies contains...
RM-205: Weather contains...
****
RM-206: Difference between moldova.md & international forecast should not differ more than 3 degrees.